<form [formGroup]="fgAddEditForm" autocomplete="off">

  <div class="form-group">
    <label for="street1">Street1</label>
    <input class="form-control" name="street1" type="text" id="street1" formControlName="street1" tabindex="0">
  </div>
  <div class="form-group">
    <label for="street2">Street2</label>
    <input class="form-control" name="street2" type="text" id="street2" formControlName="street2" tabindex="0">
  </div>
  <div class="form-group">
    <label for="town">Town</label>
    <input class="form-control" name="town" type="text" id="town" formControlName="town" tabindex="0">
  </div>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select formControlName="country">
      <mat-option *ngFor="let country of countries" [value]="country.iso2">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="add-button">
  <button type="button" class="btn btn-nav" (click)="cancelAction()">Cancel</button>
  <span class="space"></span>
  <button type="button" class="btn btn-nav" *ngIf="addButtonVisible" (click)="addAddress()">Add</button>
  <button type="button" class="btn btn-nav" *ngIf="updateButtonVisible" (click)="updateAddress()">Update</button>
</div>
