html, body {
  height: 100%;
}

body {
  background-color: #F9F9F9;
  margin:0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin: 20px 50px;
}

main {
  margin: 40px 150px;
  padding: 20px 0 30px 0;
  flex: 1
}

footer {
  background: #67BD46;
  height: 30px;
  padding: 15px;
}

.btn-nav {
  color: #FFF;
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #000;
  font-weight: 600;
  width: auto;
  min-width: 150px;
  height: 56px;
  font-size: 16px;
  letter-spacing: .05rem;

  &:hover, &:active {
    color: #000;
    background-color: #FFF;
    border: 1px solid #8B8B8B;
  }
}

.space {
  display: inline-block;
  width: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
}

.form-control {
  line-height: 2.2rem;
  height: 49px;
  border: 1px solid #707070;
  margin-top: 8px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;

  &:focus, &:active {
    border: 2px solid #67BD46;
    box-shadow: none;
  }
}


